* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  width: 1140px;
  margin: auto;
}

header {
  height: 200px;
  display: flex;
}

header > section:nth-of-type(1), 
header > section:nth-of-type(3) {
  flex-basis: 15%;
}

header > section:nth-of-type(2) {
  flex-basis: 70%;
}

#home-logo {
  width: 120px;
}

header > section:nth-of-type(1),
header > section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-area{
  width: 500px;
}

.search-area fieldset {
  border: 2px solid #455ba8;
  border-radius: 5px;
  padding: 2px;

  display: flex;
}

#query {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: 0; /* none */
  outline: none;
  /* outline : input태그에
  포커싱 되었을 때 나타나는 바깥선*/
  flex-basis: 92%;
}

#search-btn {
  flex-basis: 8%;
  cursor: pointer;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  /* transparent 배경색 투명*/
  color: #455ba8;
}